matrix:
  include:
    - language: python
      python: 3.6
      install: travis/install-cwl-runner.sh
      script:
        - bash run.sh

    - language: perl
      perl: 5.24
      install:
        - wget https://github.com/TransDecoder/TransDecoder/archive/TransDecoder-v5.0.2.tar.gz
        - tar -xvzf TransDecoder-v5.0.2.tar.gz -C $HOME
        - export PATH="$HOME/TransDecoder-TransDecoder-v5.0.2:$PATH"
      script:
        - bash run-transdecoder.sh
