sudo: true
matrix:
  include:
    - language: java
      jdk: openjdk8
      install: travis/install-interproscan5.sh
      script:
        - bash travis/run-interproscan5.sh

    - language: perl
      perl: 5.24
      install: travis/install-transdecoder.sh
      script:
        - bash travis/run-transdecoder.longorfs.sh

    - language: perl
      perl: 5.24
      install:
            - curl -L https://cpanmin.us | sudo perl - --sudo App::cpanminus
            - cpanm DB_File
            - travis/install-transdecoder.sh
      script:
        - bash travis/run-transdecoder.predict.sh

    - language: cpp
      compiler: clang
      install: travis/install-diamond.sh
      script:
        - bash travis/run-diamond.sh

    - language: c
      compiler: clang
      install: travis/install-phmmer.sh
      script:
        - bash travis/run-phmmer.sh