sudo: true
matrix:
  include:
    - language: java
      jdk: openjdk8
      env: TOOL=InterProScan
      install: travis/install-interproscan5.sh
      script:
        - bash travis/run-interproscan5.sh

    - language: perl
      perl: 5.24
      env: TOOL=TransDecoder.Longorfs
      install: travis/install-transdecoder.sh
      script:
        - bash travis/run-transdecoder.longorfs.sh

    - language: perl
      perl: 5.24
      env: TOOL=TransDecoder.Predict
      before_install:
        - sudo apt-get -qq update
        - sudo apt-get install libdb6.0-dev libdb6.0
      install:
            - cpanm DB_File
            - travis/install-transdecoder.sh
      script:
        - bash travis/run-transdecoder.predict.sh

    - language: perl
      perl: 5.24
      env: TOOL=TransDecoder-Workflow
      before_install:
        - sudo apt-get -qq update
        - sudo apt-get install libdb6.0-dev libdb6.0
      install:
        - cpanm DB_File
        - travis/install-transdecoder.sh
      script:
        - bash travis/run-transdecoder.sub-workflow.sh

    - language: cpp
      compiler: clang
      env: TOOL=Diamond
      install: travis/install-diamond.sh
      script:
        - bash travis/run-diamond.sh

    - language: c
      compiler: clang
      env: TOOL=phmmer
      install: travis/install-phmmer.sh
      script:
        - bash travis/run-phmmer.sh

    - language: c
      compiler: clang
      env: TOOL=cmsearch
      install: travis/install-cmsearch.sh
      script:
        - bash travis/run-cmsearch.sh

    - language: perl
      perl: 5.24
      env: TOOL=cmsearch-deoverlap
      install: travis/install-cmsearch-deoverlap.sh
      script:
        - bash travis/run-cmsearch-deoverlap.sh

    - language: c
      compiler: clang
      env: TOOL=cmsearch-multimodel-Workflow
      install:
        - travis/install-cmsearch.sh
        - travis/install-cmsearch-deoverlap.sh
      script:
        - bash travis/run-cmsearch.sub-workflow.sh

    - language: python
      env: TOOL=Workflow validation tests
      install:
        - travis/install-nodejs.sh
        - travis/install-cwl-runner.sh
      script:
        - bash travis/workflow-cwl-validation-tests.sh

    - language: go
      services:
        - docker
      env:
        global:
          - DOCKER_VERSION=1.10.1-0~trusty
      before_install:
        # list docker-engine versions
        - apt-cache madison docker-engine
        # upgrade docker-engine to specific version
        - sudo apt-get -o Dpkg::Options::="--force-confnew" install -y docker-engine=${DOCKER_VERSION}
      script:
        - docker version