sudo: true
matrix:
  include:
    - language: java
      jdk: openjdk8
      env: TOOL=InterProScan-v5
      install: travis/install-interproscan5.sh
      script:
        - bash travis/run-interproscan5.sh

    - language: java
      jdk: openjdk8
      env: TOOL=FastQC-v0.11.7
      install: travis/install-fastqc-v0.11.7.sh
      script:
        - bash travis/run-fastqc-v0.11.7.sh
        - if [ -f A1_left_fastqc.html ] ; then exit 0; fi

    - language: perl
      perl: 5.24
      env: TOOL=TransDecoder.Longorfs-v5.0.2
      install: travis/install-transdecoder-v5.0.2.sh
      script:
        - bash travis/run-transdecoder.longorfs-v5.0.2.sh

    - language: perl
      perl: 5.24
      env: TOOL=TransDecoder.Predict-v5.0.2
      before_install:
        - sudo apt-get -qq update
        - sudo apt-get install libdb6.0-dev libdb6.0
      install:
            - cpanm DB_File
            - travis/install-transdecoder-v5.0.2.sh
      script:
        - bash travis/run-transdecoder.predict-v5.0.2.sh

    - language: perl
      perl: 5.24
      env: TOOL=TransDecoder-Workflow-v5.0.2
      before_install:
        - sudo apt-get -qq update
        - sudo apt-get install libdb6.0-dev libdb6.0
      install:
        - cpanm DB_File
        - travis/install-transdecoder-v5.0.2.sh
      script:
        - bash travis/run-transdecoder-v5.0.2.sub-workflow.sh

    - language: cpp
      compiler: clang
      env: TOOL=Diamond.blastx-v0.9.21
      install: travis/install-diamond-v0.9.21.sh
      script:
        - bash travis/run-diamond.blastx-v0.9.21.sh

    - language: cpp
      compiler: clang
      env: TOOL=Diamond.makedb-v0.9.21
      install: travis/install-diamond-v0.9.21.sh
      script:
        - bash travis/run-diamond.makedb-v0.9.21.sh

    - language: c
      compiler: clang
      env: TOOL=phmmer
      install: travis/install-phmmer-v3.2.1.sh
      script:
        - bash travis/run-phmmer-v3.2.1.sh

    - language: c
      compiler: clang
      env: TOOL=cmsearch-v1.1.2
      install: travis/install-cmsearch-v1.1.2.sh
      script:
        - bash travis/run-cmsearch-v1.1.2.sh

    - language: perl
      perl: 5.24
      env: TOOL=cmsearch-deoverlap
      install: travis/install-cmsearch-deoverlap-v0.02.sh
      script:
        - bash travis/run-cmsearch-deoverlap-v0.02.sh

    - language: c
      compiler: clang
      env: TOOL=cmsearch-multimodel-Workflow
      install:
        - travis/install-cmsearch-v1.1.2.sh
        - travis/install-cmsearch-deoverlap-v0.02.sh
      script:
        - bash travis/run-cmsearch.multimodel-wf.sh

    - language: python
      env: TOOL=Utils - FASTA chunker
      services:
        - docker
      install:
        - travis/install-nodejs.sh
        - travis/install-cwl-runner.sh
      script:
        - bash travis/run-utils-fasta_chunker.sh
        - if ! diff -q test_01_test_01.fasta expected_output/fasta_chunker/test_01_test_01.fasta &>/dev/null; then exit 1; fi
        - if ! diff -q test_02_test_02.fasta expected_output/fasta_chunker/test_02_test_02.fasta &>/dev/null; then exit 1; fi

    - language: python
      env: TOOL=Workflow validation tests
      install:
        - travis/install-nodejs.sh
        - travis/install-cwl-runner.sh
      script:
        - bash travis/workflow-cwl-validation-tests.sh

    - language: python
      env: TOOL=Tool validation tests
      install:
        - travis/install-nodejs.sh
        - travis/install-cwl-runner.sh
      script:
        - bash travis/tools-validation-tests.sh

    - language: python
      env: TOOL=Utils validation tests
      install:
        - travis/install-nodejs.sh
        - travis/install-cwl-runner.sh
      script:
        - bash travis/utils-validation-tests.sh

